
@*@using Entity
@using Service
@inject IManagerRepository _IManagerRepository
    <div class="text-center">
        <input type="submit" id="sjtu" />
        @{
            var sjtu = _IManagerRepository.Query().ToList();
            if (sjtu != null && sjtu.Count > 0)
            {
                foreach (var a in sjtu)
                {
                    <label>@a.Name</label>
                }
            }

        }
    </div>*@
